.contents.row
  %p
    = @nickname
    さんの投稿一覧
  - @racket.each do |racket|
    .content_post{:style => "background-image: url(#{racket.image});"}
      = simple_format(racket.text)
  = paginate(@racket)
