.header
  .header__top
    .header__top__logo hoge
    .header__top__list
      -# .header__top__list__1 
      -# .header__list__2
      -# .header__list__3
    .header__exit edit
  .header__bottom
    %p.header__bottom__left 中央