= render 'shared/simple-header'

.success
  .success__flame
    .success__flame__top 
      %p.success__flame__top__text 投稿が完了しました。
      
      %a.success__flame__top__btn{:href => "/"} 
        投稿一覧へ戻る