= render 'shared/header'

.main
  .main__flame
    .main__flame__box
      .main__flame__box__image
      .main__flame__box__detail
      -# = simple_format(racket.all)

        %p= @racket.find
    .main__flame__box
      .main__flame__box__image
      .main__flame__box__detail
    .main__flame__box
      .main__flame__box__image
      .main__flame__box__detail