
= render 'shared/header'
.new
  .new__post
    .new__post__box
      .new__post__box__title 投稿する
      .new__post__box__detail
        = form_tag('/home', method: :post) do
          %input{:name => "name", :placeholder => "ラケット", :type => "text"}/
          %input{:name => "rubber", :placeholder => "ラバー（表）", :type => "text"}/
          %input{:name => "rubber_back", :placeholder => "ラバー（裏）", :type => "text"}/
          %input{:name => "power", :placeholder => "スピード", :type => "integer"}/
          %input{:name => "spin", :placeholder => "スピン", :type => "integer"}/
          %input{:name => "control", :placeholder => "コントロール", :type => "integer"}/
          %input{:name => "weight", :placeholder => "重量", :type => "integer"}/
          %input{:name => "general", :placeholder => "総合", :type => "integer"}/
          %input{:name => "image", :placeholder => "Image Url", :type => "text"}/
          %textarea{:cols => "30", :name => "text", :placeholder => "text", :rows => "10"}
          %input{:type => "submit", :value => "SENT"}