.header {
  background-color: #0C316A;
  color: #fff;
  height: 90px;
  width: 100%;
  display: inline-flex;
  
  
  &__logo {
    font-size: 36px;
    padding: 18px 60px 18px 40px;
    display: inline-flex;

  &__list {
    display: inline-flex;
    padding: 33px 10px;
    height: 100%;
    span{
      padding: 33px 10px;

    }
  }
  }
  &__exit {

    font-size: 26px;
    padding: 25px 40px;
  }
}
.contents {
  background-color: #CD5949;
  height: 200px;
  .contents h1 {
    background-color: #CD5949;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
  }
}