.main {
  color: white;
  background-color: black;
  height: calc(100% - 190px);
  width: 100%;
  
  
  &__flame {
    margin: 0px auto;
    height: 100%;
    width: 1300px;


    &__box {
      margin: 0px auto 100px;
      // padding-top: 100px; 
      height: 400px;
      width: 1000px;
      display: flex;
      border-radius: 4px;
      
      &__image{
        
        height: 400px;
        width: 600px;
        background-color: gray;
      }
      &__detail{
        height: 400px;
        width: 400px;
        background-color: black;
        padding: 20px;
        border: 1px solid white ;
      }
      &__aaa{
        
      }
    }
  }
}
