.main {
  color: white;
  background-color: black;
  height: calc(100% - 190px);
  width: 100%;
  
  
  &__mypage {
    margin: 0px auto;
    height: calc(100% - 190px);
    width: 1300px;
    background-color: black;
    &__top{
      color: white;
      margin: auto;
    }



    &__box {
      margin: 0px auto 100px;
      // padding-top: 100px; 
      height: 400px;
      width: 1100px;
      display: flex;
      
      
      
      &__detail{
        height: 400px;
        width: 700px;
        background-color: black;
        padding: 20px;
        border-radius: 8px;
        &__box{
          margin-bottom: 15px;
          padding: 7px;
          border: 1px solid white ;
          border-radius: 8px;
        }
        &__bottom{
          height: 70px;
          width: 640px;
          background-color: black;
          margin: 0px auto;
          // border: 1px solid white ;
          display: inline-flex;
          &__btn{
            width: 700px;
            margin: 10px;
            padding: 7px;
            border: 1px solid white ;
            border-radius: 8px;
          }
  
        }

      }
      

      &__image{
        width: 100%;
        height: auto;
        background-color: gray;
        background-size: contain;
      }
    }
  }
}
