
.new{
  background-color: black;
  &__post {
    color: white;
    background-color: black;
    height: 1000px;
    width: 1000px;
    margin: auto;
    &__box {
      margin: 0px auto 100px;
      padding: 50px; 
      height: 100%;
      width: 1100px;
      border-radius: 4px;
      border: 1px solid white ;
      &__title{
        height: 100px;
        width: 100%;
        font-size: 30px;
        margin-left: 45%;
      }

      &__detail{
        height: 100px;
        width: 100px;
        &__input{
          height: 100px;
          width: 100px;
          margin-top: 100px;
          
        }
      }
    }
  }
}