= render 'shared/header'

.editmain
  .editmain__flame
    .editmain__flame
      .editmain__flame__box
        .editmain__flame__box__image
        .editmain__flame__box__detail
        .editmain__flame__box__comment